@mixin posAbsoluteLeftTop($left,$top) {
  position: absolute;
  left: $left;
  top: $top;
}

@mixin posAbsoluteRightTop($right,$top) {
  position: absolute;
  right: $right;
  top: $top;
}

@mixin fixAbsolute($transformX, $transformY) {
  transform: translate($transformX, $transformY);
}

@mixin shadowsAround($x,$y,$z,$c,$color) {
  box-shadow: $x $y $z $c $color, -$x -$y $z $c $color, -$x $y $z $c $color, $x -$y $z $c $color;
}

@mixin textShadow {
  text-shadow: 0 2px black, 0 -2px black, 2px 0 black, -2px 0 black;
}

@mixin textShadow2 {
  text-shadow: 0 2px 3px rgba(0,0,0,.4), 0 -2px 3px rgba(0,0,0,.4), 2px 0 3px rgba(0,0,0,.4), -2px 0 3px rgba(0,0,0,.4);
}

@mixin fullMiddle {
  top:50%;
  left:50%;
}

@mixin secondFont {
  font-family: 'Oleo Script Swash Caps', cursive;
}
@mixin thirdFont {
  font-family: 'Fredericka the Great', cursive;
}

@mixin mainFont {
  font-family: 'Raleway', sans-serif;
}
